/*Linking styles for navigation menu *!*/

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-menu__item:not(:last-child) {
  margin-bottom: 5px;
}
.nav-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #2a2d3c;
  transition: color 200ms ease;
}

.nav-menu__link:hover {
  color: #e29c54;
}

@media (max-width: 1200px) {
  .logo {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  .nav-menu {
    display: flex;
    gap: 100px;
  }

  .nav-menu__item {
    margin-bottom: 0 !important;
  }
}
